.ui.borderless.topmenu.menu {
  background: #fff;
  width: 1280px;
  height: 65px;
  border-bottom: 1px solid #eee;
  box-shadow: none;
}

.ui.menu.item {
  font-size: 1em;
  background: #fff;
  color: #363636
}